<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= locals.title %>
    </title>
    <meta name="description" content="<%= locals.description %>" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body class="">



    <div class="container-fluid" style="
    background-image: linear-gradient(
      to right,
      rgb(61, 57, 57),
      rgb(136, 136, 130)
    );
  ">
        <div class="row w-75 mx-auto py-5" style="height: 100vh">
            <div class="col-6 h-100 bg-white d-flex  align-items-center">
                <div class="col-1">

                </div>
                <div class="col-10 ">
                    <div class="text-center my-5 ">
                        <h3>FORGOT PASSWORD</h3>
                    </div>

                    <!-- <div class="mt-5 ">

              <button type="button" class="btn brder border-secondary w-100">
                <i class="bi bi-google gradient-icon" ></i> Continue With Google
              </button>
            <div class="my-4">
             <p class="text-center m-0">or</p>
              <hr class="m-0">
            </div>  
       
            </div> -->
                    <form action="/forgotPassword" class="" method="post">
                        <div>


                            <div class="mb-4 ">
                                <input type="email" class="ms-1 form-control" id="email" name="email"
                                    onblur="emailChaking()" placeholder="Enter Registered Email" />
                                <div id="erroremail" class=" ms-2  text-danger"></div>
                            </div>





                            



                        </div>

                        <div class="">
                            <button type="submit" class="btn btn-outline-dark w-100 rounded-pill">
                                Send OTP
                            </button>
                        </div>
                    </form>
                    

                    <% if (typeof locals.message !=='undefined' ) { %>

                        <p class="text-center text-danger">
                            <%=message%>
                        </p>

                        <%}%>
                </div>
                <div class="col-1">


                </div>
            </div>
            <div class="col-5  p-0 " style="
          background-image: linear-gradient(
            to right,
            #515256,
            #A29B65
          );
        ">
                <img src="/images/main-background.jpeg" class="w-100 h-100 " alt="" />
            </div>
        </div>
    </div>
    <script>
        function emailChaking() {
            let emailId = document.getElementById("email").value;
            if (
                /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId) == false
            ) {
                document.getElementById("erroremail").innerHTML =
                    "Please enter a valid email address";
                return false;
            } else {
                document.getElementById("erroremail").innerHTML = "";
                return true;
            }
        }

        function validateForm() {
            // Call your validation functions
            const isEmailValid = emailChaking();

            // Check if any validation failed
            if (!isEmailValid) {
                // Returning false prevents the form from being submitted
                return false;
            }

            // If all validations pass, the form will be submitted
            return true;
        }
    </script>


    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>